@{
    ViewData["Title"] = "Adicionar";
}

<div class="container">
    <h1 class="display-4">Adicione um filme:</h1>
</div>

<form class="flex-column" action="/Post/AddItemList" method="post">

    <div class="wrapper-input flex-column-left">
        <label class="label-block">Title</label>
        <input class="input-block" name="Title" />
    </div>

    <div class="wrapper-input flex-column-left">
        <label class="label-block">Resume</label>
        <input class="input-block" name="Resume" />
    </div>

    <div class="wrapper-input flex-column-left">
        <label class="label-block">Category</label>
        <input class="input-block" name="Category" />
    </div>

    <div class="wrapper-button flex-column-left">
        <button class="button--medium" type="submit">Send</button>
    </div>
</form>
