@{
    ViewData["Title"] = "Lista";
}

@model List<Post>

<section class="container-fluid">
    <div class="container text-center">
        <h1 class="display-6">Lista de filmes:</h1>
    </div>

    <div class="container mt-4">
        @foreach (var post in Model)
        {
            <div class="text-left">
                <h2 class="display-6">@post.Title</h2>
                <p class="text-md-start">@post.Resume</p>
                <div class="wrapper-disclaimer">
                    <span class="disclaimer">@post.Category</span>
                    <a href="/Post/ToView/@post.Id">Editar</a>
                    <a href="/Post/DeletePost/@post.Id">Remover</a>
                </div>                
            </div>
        }
    </div>
</section>
