@{
    ViewData["Title"] = "Início";
}

<section class="blog-contaiener flex-column">
    <h1>Bem vindo(a)!</h1>    
    
    <div class="wrapper-button">
        <h3 class="flex-column-left">Acesse a lista de filmes:</h3>
        <a class="button--medium flex-column" type="submit" asp-area="" asp-controller="Post" asp-action="index">
            Cliquei aqui!
        </a>
    </div>
</section>
