@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List</h1> 
    
    @foreach (var post in ViewBag.Posts)
	{
		<div class="text-left">
            <h3>@post.Title</h3>
            <p>@post.Resume</p>
            <div class="wrapper-disclaimer">
                <span class="disclaimer">@post.Category</span>
            </div>
        </div>
	}
</div>

