.button--medium {
    width: 100%;
    height: auto;
    padding: .75em 1.75em;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: 0;
    color: var(--light);
    background: var(--primary);
    transition: .2s background ease-in-out;
}

.button--medium:hover {
    background: var(--secondary);
}

.button--medium:focus {
    outline: 0;
    border: 2px solid var(--secondary);
}

.blog-button-options a {
    width: 80px;
    height: auto;
    font-size: .8em;
    line-height: 23px;
    border-radius: 5px;
    margin: 0 5px;
    border: 1px solid transparent;
    color: var(--light);
    background: var(--primary);
    transition: .2s all ease-in-out;
}

.blog-button-options a:hover {
    border: 1px solid var(--primary);
    color: var(--primary);
    background: var(--light);
}