.input-block,
.input-textArea {
    width: 100%;
    outline: 0;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid var(--quaternary);
    transition: .2s border ease-in-out;
}

.input-block {
    height: 40px;
}

.input-textArea {
    height: 160px;
}

.input-block:focus,
.input-textArea:focus {
    border: 2px solid var(--primary);
}

.label-block {
    margin: 0;
}
