.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog-contaiener {
    width: 100%;
}

.post-container {
    position: relative;
    margin: 50px 0;
    border-bottom: 1px solid var(--quaternary);
}

.wrapper-input,
.wrapper-button {
    width: 50vw;
}

.wrapper-input {
    margin: 5px 0;
}

.wrapper-button {
    margin: 20px 0;
}

.disclaimer {
    font-size: .8rem;
    padding: .15rem .45rem;
    margin: 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100px;
    color: var(--primary);
    border: 1px solid var(--primary);
}
